ul {
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(48, 55, 72, 0.66);
    width: 150px;
}

img {
    width: 38px;
    vertical-align: middle;

}

li {
    text-align: left;
    list-style-type: none;
    width: 150px;
}

a {
    display: block;
    height: 100%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    background-color: #585858;

}


