<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level  %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>C:\Users\orlov\Desktop\logs\HomePageController.log</file>-->
<!--        <rollingPolicy-->
<!--                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <fileNamePattern>HomePageController.%d{yyyy-MM-dd}.log</fileNamePattern>-->

<!--            &lt;!&ndash; Храним файлы логов 10 дней &ndash;&gt;-->
<!--            <maxHistory>10</maxHistory>-->

<!--            &lt;!&ndash; Максимальный размер файлов лога 30 гигабайт &ndash;&gt;-->
<!--            <totalSizeCap>10B</totalSizeCap>-->

<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level  %logger{20} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="Console" />
<!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>

