<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>db.username</param-name>
    <param-value>root</param-value>
  </context-param>

  <context-param>
    <param-name>db.password</param-name>
    <param-value/>
  </context-param>

  <context-param>
    <param-name>db.url</param-name>
    <param-value>jdbc:mysql://localhost:3306/shop?serverTimezone=Europe/Kiev&amp;characterEncoding=utf8</param-value>
  </context-param>

  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>org.itstep.HomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.itstep.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

</web-app>
