* {
    background: black;
    color: white;
    font-family: cursive;
}

form {
    width: 320px;
    margin: 100px auto;
}

form div {
    margin: 8px;
}

form label {
    display: inline-block;
    width: 100px;
}

input[type=submit] {
    display: block;
    float: right;
}